body {
    background:#eee;
    font-family: "Lato", "Helvetica Neue", arial, helvetica, sans-serif;
    font-size: 14px;
    color:#000;
    margin:0;
    padding:0;
    font-weight: 400;
    letter-spacing: 0.15px;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

.input-field {
    border:1px solid #aaa;
    background:#fff;
    padding: 4px;
    font-size: 14px;
    border-radius: 4px;
}

select.input-field {
    height: 32px;
}


.label {
    font-size: 14px;
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff !important;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}
.label-info {
    background-color: #3a87ad;
}
.label-verified {
    border:1px solid green;
    background-color:transparent;
    background-color:rgba(0,0,0,0);
    color:green;
    text-shadow:none;
}
.label-danger {
    border:1px solid red;
    background-color:transparent;
    background-color:rgba(0,0,0,0);
    color:red;
    text-shadow:none;
}

.label-default {
    background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}
.label-primary {
    background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #286090;
}
.label-success {
    background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}
.label-info {
    background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}
.label-danger {
    background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}

#ticketThread table th span.title {
    color: black;
    font-weight: bold;
}

#ticketThread table th span {
    font-size: 14px;
    color: black;
}

#footer {
    margin-bottom: 20px;
}

#ticketTable tbody tr {
    height: 2.5em;
}

#ticketTable tbody tr td {
    vertical-align: middle;
    border: 1px solid #eee;
}
