
.reservation_list {
    margin: 10px;
}

.tour_item {
    margin: 10px 10px 30px 10px;
    border: 1px solid #0A568E;
    border-bottom: 2px solid #0A568E;
    border-radius: 4px;
}

.tour_header,
.tour_content,
.tour_footer {
    padding: 10px;
}

.tour_header {
    border-bottom: 1px solid #ddd;
}

.tour_header:hover {
    cursor: pointer;
}

.tour_header.c_blue {
    background: #1a4580;
}

.tour_header.c_yellow {
    background: #747304;
}

.tour_header.c_green {
    background: #0e8001;
}

.tour_header.c_red {
    background: #800f0b;
}

.tour_header.c_orange {
    background: #806108;
}

.tour_header.c_black {
    background: #3d3c42;
}
.tour_header.c_grey {
    background: #c3c3c3;
}

.tour_header.c_purple {
    background: #500a80;
}

.tour_header.c_pink {
    background: #800780;
}

.tour_header.c_cyan {
    background: darkcyan;
}

.tour_name,
.tour_time,
.tour_price {
    width: 20%;
    margin: 0 5px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: white;
    float: left;
}

.tour_name {
    width: 50%;
    font-size: 18px;
    font-weight: bold;
}

.tour_name small {
    margin-left: 2em;
}

.tour_time {
    float: left;
    text-align: center;
}

.tour_price {
    float: right;
    font-size: 18px;
}

.tour_content {

}

.tour_footer {
    border-top: 1px solid #ddd;
}

.tour_progress {
    width: 100%;
    height: 5px;
    background: #b90500;
    margin-top: 10px;
}

.tour_progress .bar {
    height: 5px;
    background: #0e8001;
}

.bf_label {
    padding: 0.2em;
    color: white;
}

.bf_label .before,
.bf_label .after {
    padding: 0.25em;
    font-size: 12px;
}

.bf_label:first-child .before {
    background: #3bb749;
}

.bf_label:first-child .after {
    background: #4d698e;
}

.bf_label:last-child .before {
    background: #db9d22;
}

.bf_label:last-child .after {
    background: #3e338e;
}

.bf_label:last-child .before,
.bf_label:last-child .after {
    font-weight: bold;
    font-size: 16px;
}

.bf_label .before {
    border-radius: 4px 0 0 4px;
    padding-right: 1em;
    background: #00aa00;
}

.bf_label .after {
    border-radius: 0 4px 4px 0;
    padding-left: 0.5em;
    background: #0A568E;
}

.quantity {
    float: left;
}

.buttons {
    float: right;
}

.tour_tl {
    float: right;
    font-style: italic;
}


.table_list,
.action {
    margin-top: 2em;
}

table caption {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
}

.search table,
.upcoming_list table,
.table_list table.booking_table,
.update_table {
    border-collapse: collapse;
    width: 100%;
}

.upcoming_list thead th,
.table_list thead th {
    border-bottom: 2px solid #1a1a1a;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.upcoming_list tbody td,
.table_list tbody td {
    padding: 0.5em;
}

.upcoming_list tr:nth-child(2n) td,
.table_list tr:nth-child(2n) td {
    background: #dff5f3;
}

.upcoming_list tr.overdue td,
.table_list tr.overdue td {
    background: #f5bdba;
}
.upcoming_list tr.near_overdue td,
.table_list tr.near_overdue td {
    background: #f5e0ec;
}

.hold_frame {
    width: 100%;
    height: 0;
    border: none;
}

td textarea {
    width: 90%;
    height: 3em;
    resize: none;
}

td input[type=text] {
    width: 70%;
}

.tour_item tr td:nth-child(3){
    padding-left: 3em;
}

.dp_due.new {
    width: 6em;
}

.upcoming_list tr:hover td,
.table_list tr:hover td {
    background: #bfdffc;
}

td input[name=quantity],
td input[name=hold_qty],
td input[name=sure_qty] {
    width: 3em;
}

.history_highlight td {
    background: #4a1e7f !important;
    color: white;
}

.search,
.hold__visa_wrapper,
.upcoming_list {
    /*width: 100%;*/
    margin: 20px;
    padding: 20px;
    border: 1px solid #0A568E;
    border-bottom: 2px solid #0A568E;
    border-radius: 4px;
}

.hold__visa_wrapper #hold__visa {
    margin: auto;
    width: 90%;
}

.search caption,
.hold__visa_wrapper #hold__visa caption {
    font-weight: bold;
    margin-bottom: 1em;
}

.hold__visa_wrapper #hold__visa td:nth-child(2) {
    padding-right: 3em;
}

.label input[type=checkbox] {
    border: none;
    background: none;
    vertical-align: middle;
}

.search td:nth-child(2n) {
    padding-right: 40px;
}

.search td input[type=text] {
    width: 90%;
}

.goto {
    cursor: pointer;
}

.strong {
    font-weight: bold;
    text-decoration: underline;
}

.confirm_frame {
    border: none;
    display: none;
    overflow: hidden;
}

.current td {
    margin-top: 1px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.current td:first-child {
    border-right: none;
    border-left: 1px solid red;
}

.current td:last-child {
    border-left: none;
    border-right: 1px solid red;
}