/*ul{*/
/*    list-style: none;*/
/*}*/
/*ul:after{*/
/*    clear: both;*/
/*}*/
/*ul li{*/
/*    border-radius: 8px;*/
/*    background: #dddddd;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    padding: 10px;*/
/*    float: left;*/
/*    text-align: center;*/
/*    margin-right: 2px;*/
/*}*/
/*a{*/
/*    text-decoration: none;*/
/*}*/
/*ul li.active{*/
/*    color:white;*/
/*    background: blue;*/
/*}*/
/*.active a{*/
/*    color:white;*/
/*}*/