#title, #body {
    width: 500px;
}

#title {
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 4px;
}

#body {
    resize: none;
}

#send_btn {
    padding: 0.5em;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: rgb(3, 119, 3);
    color: white;
}

#send_btn:hover {
    background: rgb(2, 143, 2);
    cursor: pointer;
}

#send_btn:active {
    background: rgb(2, 98, 2);
}